{
  "presets": [ "es2015", "stage-2" ],
  "ignore": "node_modules",
  "plugins": [
    "lodash",
    "transform-inline-environment-variables"
  ],

  "env": {
    "staging": {
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger"
      ]
    },

    "production": {
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger"
      ]
    }
  }
}
