{
  "presets": [ "es2015" ],
  "ignore": "node_modules"
  "plugins": [
    "transform-inline-environment-variables"
  ],

  "env": {
    "staging": {
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger"
      ]
    },

    "production": {
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger"
      ]
    }
  }
}
