{
  "extends": "airbnb",
  "rules": {
    "no-param-reassign": [
      "error",
      { "props": false }
    ],
    "key-spacing": [
      "error",
      { "align": "value" }
    ]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
