<!-- battleship board -->
<div class='game-page'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <div id='board'>

          <!-- battleship table -->
          <table class='table'>
            <tbody>

              <!-- battleship rows-->
              <tr v-for='row in rows'>
                <td v-for='id in row'>
                  <game-row :id='id' :user-coords.sync='userCoords' :cpu-coords.sync='cpuCoords'></game-row>
                </td>
              </tr>
            </tbody>
          </table>
          <button class='btn'
                  v-bind:class="!coordsPicked ? 'hidden' : ''"
                  @click='saveUserCoords()'>Save Coordinates</button>
        </div>
      </div>
    </div>
  </div>
</div>


