<!-- battleship board -->
<div class='game-page'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <div id='board'>

          <!-- battleship table -->
          <table class='table'>
            <!-- battleship row 1 -->
            <tr>
              <td>
                <input type='checkbox' id='1' value='1'>
                <label for='1'></label>
              </td>
              <td>
                <input type='checkbox' id='2' value='2'>
                <label for='2'></label>
              </td>
              <td>
                <input type='checkbox' id='3' value='3'>
                <label for='3'></label>
              </td>
              <td>
                <input type='checkbox' id='4' value='4'>
                <label for='4'></label>
              </td>
              <td>
                <input type='checkbox' id='5' value='5'>
                <label for='5'></label>
              </td>
            </tr>
            <!-- battleship row 2 -->
            <tr>
              <td>
                <input type='checkbox' id='6' value='6'>
                <label for='6'></label>
              </td>
              <td>
                <input type='checkbox' id='7' value='7'>
                <label for='7'></label>
              </td>
              <td>
                <input type='checkbox' id='8' value='8'>
                <label for='8'></label>
              </td>
              <td>
                <input type='checkbox' id='9' value='9'>
                <label for='9'></label>
              </td>
              <td>
                <input type='checkbox' id='10' value='10'>
                <label for='10'></label>
              </td>
            </tr>
            <!-- battleship row 3 -->
            <tr>
              <td>
                <input type='checkbox' id='11' value='11'>
                <label for='11'></label>
              </td>
              <td>
                <input type='checkbox' id='12' value='12'>
                <label for='12'></label>
              </td>
              <td>
                <input type='checkbox' id='13' value='13'>
                <label for='13'></label>
              </td>
              <td>
                <input type='checkbox' id='14' value='14'>
                <label for='14'></label>
              </td>
              <td>
                <input type='checkbox' id='15' value='15'>
                <label for='15'></label>
              </td>
            </tr>
            <!-- battleship row 4 -->
            <tr>
              <td>
                <input type='checkbox' id='16' value='16'>
                <label for='16'></label>
              </td>
              <td>
                <input type='checkbox' id='17' value='17'>
                <label for='17'></label>
              </td>
              <td>
                <input type='checkbox' id='18' value='18'>
                <label for='18'></label>
              </td>
              <td>
                <input type='checkbox' id='19' value='19'>
                <label for='19'></label>
              </td>
              <td>
                <input type='checkbox' id='20' value='20'>
                <label for='20'></label>
              </td>
            </tr>
            <!-- battleship row 5 -->
            <tr>
              <td>
                <input type='checkbox' id='21' value='21'>
                <label for='21'></label>
              </td>
              <td>
                <input type='checkbox' id='22' value='22'>
                <label for='22'></label>
              </td>
              <td>
                <input type='checkbox' id='23' value='23'>
                <label for='23'></label>
              </td>
              <td>
                <input type='checkbox' id='24' value='24'>
                <label for='24'></label>
              </td>
              <td>
                <input type='checkbox' id='25' value='25'>
                <label for='25'></label>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
