<!-- battleship board -->
<div class='game-page'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <div id='board'>

          <h3>{{instructions}}</h3>
          <!-- battleship table -->
          <table class='table'>
            <tbody>

              <!-- battleship rows-->
              <tr v-for='row in rows'>
                <td v-for='id in row'>
                  <game-row :id='id'
                            :user-coords.sync='userCoords'
                            :saved-coords.sync='savedCoords'
                            :avail-coords.sync='availCoords'
                            :coords-saved.sync='coordsSaved'
                            :strike-coord.sync='strikeCoord'
                            :user-strikes.sync='userStrikes'
                            :cpu-strikes.sync='cpuStrikes'
                            :cpu-coords.sync='cpuCoords'>
                  </game-row>
                </td>
              </tr>
            </tbody>
          </table>
          <button class='btn' v-bind:class="{'hidden': !coordsPicked}" @click='saveUserCoords()'>Save Coordinates</button>
          <button class='btn' v-bind:class="{'hidden': !coordsPicked}">Strike!</button>
        </div>
      </div>
    </div>
  </div>
</div>


