<div class='leader-board'>
  <div class='container'>
    <table class='table'>
      <caption>Player Leader Board.</caption>
      <thead>
      <tr>
        <th>#</th>
        <th>User Name</th>
        <th>Wins</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for='player in leaderBoard' v-bind:class="{'currentUser': player.user_name === userName}">
        <td>{{$index + 1}}</td>
        <td>{{player.user_name}}</td>
        <td>{{player.wins}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
