// Header.
header {
  height: 300px;
  background-color: #000;
}

#game-modal {
  position: absolute;
  z-index: 2;
  width: 500px;
  height: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #000;
  text-align: center;
  color: $radar-green;
  border: 1px solid $radar-green;
  border-radius: 10px;
  padding: 20px;
  top: 585px;

  .buttons {
    margin-top: 50px;
  }

  button {
    background-color: $radar-green;
    color: #000;
    border-radius: 4px;
    padding: 7px 12px;
    margin: 0 15px;
    font-weight: bold;
    border: 1px solid #000;

    &:hover {
      background-color: #000;
      color: $radar-green;
      border: 1px solid $radar-green;
    }
  }
}

// Header battleship bg.
.battleship-bg {
  height: 300px;
  width: 100%;
  background: url("battleship-bg.png") no-repeat center;
  background-size: contain;
}

.navigation {
  background-color: #000;
  padding-bottom: 25px;

  ul {
    width: 500px;
    padding-left: 0;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    border-bottom: 1px solid $metalic-gray;
  }
  li {
    cursor: pointer;
    color: $metalic-gray;
    padding: 0 10px;
    font-weight: bold;
    display: inline-block;
  }
}

// Home Page
.home-page {
  padding-top: 50px;
  background-color: #000;
  border-top: 1px solid $radar-green;
}

// Radar BG.
.radar-bg {
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 500px;
  max-width: 500px;
  background: url("radar-bg.jpg") no-repeat center;
  background-size: contain;

  input {
    text-align: center;
    display: block;
    height: 30px;
    width: 175px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    transform: translateY(-50%);
    background-color: #000;
    color: $radar-green;

    &:active, &:focus {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
      outline-color: $radar-green;
    }

    &:-moz-placeholder {
      color: $radar-green;
    }
    &:-ms-input-placeholder {
      color: $radar-green;
    }
    &::-webkit-input-placeholder {
      color: $radar-green;
    }

    &::-moz-placeholder {
      color: $radar-green;
    }
  }

  button {
    display: block;
    color: #000;
    width: 150px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    background-color: $radar-green;
    border: 1px solid $radar-green;
    font-weight: bold;
  }

  input, button {

    &:hover {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
      background-color: #000;
      color: $radar-green;
    }
  }
}

.game-page {
  padding-top: 35px;
  background-color: #000;
}

#board {

  h3 {
    text-align: center;
    color: $radar-green;
    font-weight: bold;
    margin-bottom: 30px;
  }
  td {
    position: relative;
    border: 1px solid $radar-green !important;

    label {
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      margin-bottom: 0;

      &.ship {
        cursor: pointer;

        &.user {
          background: url('ship.png') no-repeat center center;
          background-size: 50%;
        }

        &.cpu {
          background: url('cpu-ship.png') no-repeat center center;
          background-size: 50%;
        }

        &.hit {

          &:after {
            content: '';
            position: absolute;
            background: url("hit.png") no-repeat center;
            background-size: 30%;
            width: 100%;
            height: 100%;
          }
        }
      }

      &.miss {
        background: url('miss.png') no-repeat center center;
      }

      &.strike {
        border: 1px solid red;
      }

    }
  }

  input {
    display: none;
  }

  button {
    display: block;
    color: #000;
    padding: 10px 30px;
    margin: 0 auto;
    transform: translateY(-50%);
    background-color: $radar-green;
    border: 1px solid $radar-green;
    font-weight: bold;
    font-size: 18px;
    margin-top: 75px;

    &:hover {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
      background-color: #000;
      color: $radar-green;
    }
  }

  tr {
    height: 90px !important;
  }
}

.leader-board {
  table {
    > caption {
      color: $radar-green;
      font-size: 24px;
      margin-bottom: 15px;
    }

    thead {
      > tr {
        > th {
          font-size: 18px;
          color: $metalic-gray;
          border-color: $radar-green;
        }
      }
    }

    tbody {
      > tr {
        &.currentUser {
          background-color: $metalic-gray;

          td {
            color: #000;
          }
        }
        > td {
          border-color: $metalic-gray;
          color: $radar-green;
          font-size: 18px;
        }
      }
    }
  }
}
