// Header.
header {
  height: 300px;
  background-color: #000;
}

// Header battleship bg.
.battleship-bg {
  height: 300px;
  width: 100%;
  background: url("battleship-bg.png") no-repeat center;
  background-size: contain;
}

.navigation {
  background-color: #000;

  ul {
    width: 300px;
    padding-left: 0;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    border-bottom: 1px solid $metalic-gray;
  }
  li {
    cursor: pointer;
    color: $metalic-gray;
    padding: 0 10px;
    font-weight: bold;
    display: inline-block;
  }
}

// Home Page
.home-page {
  padding-top: 50px;
  background-color: #000;
  border-top: 1px solid $radar-green;
}

// Radar BG.
.radar-bg {
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 500px;
  max-width: 500px;
  background: url("radar-bg.jpg") no-repeat center;
  background-size: contain;

  input {
    text-align: center;
    display: block;
    height: 30px;
    width: 175px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    transform: translateY(-50%);
    background-color: #000;
    color: $radar-green;

    &:active, &:focus {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
      outline-color: $radar-green;
    }

    &:-moz-placeholder {
      color: $radar-green;
    }
    &:-ms-input-placeholder {
      color: $radar-green;
    }
    &::-webkit-input-placeholder {
      color: $radar-green;
    }

    &::-moz-placeholder {
      color: $radar-green;
    }
  }

  button {
    display: block;
    color: #000;
    width: 150px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    background-color: $radar-green;
    border: 1px solid $radar-green;
    font-weight: bold;
  }

  input, button {

    &:hover {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
      background-color: #000;
      color: $radar-green;
    }
  }
}

.game-page {
  padding-top: 75px;
  background-color: #000;
}

#board {

  td {
    position: relative;
    border: 1px solid $radar-green !important;

    label {
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      margin-bottom: 0;

      &.ship {
        cursor: pointer;
        background: url('http://codifyacademy.com/project_battleship_demo/css/../img/ship.png') no-repeat center center;
        background-size: 50%;
      }
    }
  }

  input {
    display: none;
  }

  button {
    display: block;
    color: #000;
    width: 150px;
    height: 35px;
    margin: 0 auto;
    transform: translateY(-50%);
    background-color: $radar-green;
    border: 1px solid $radar-green;
    font-weight: bold;
    margin-top: 75px;

    &:hover {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
      background-color: #000;
      color: $radar-green;
    }
  }

  tr {
    height: 90px !important;
  }

  /*hit or miss*/
  .hit {
    background: url('http://codifyacademy.com/project_battleship_demo/css/../img/ship.png') no-repeat center center;
  }

  .miss {
    background: url('http://codifyacademy.com/project_battleship_demo/css/../img/miss.png') no-repeat center center;
  }
}
