// Site-Specific Variables
//
// @link https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
//
// -----------------------------------------------------------------------------

$base-font: Monaco, Verdana, Arial, sans-serif;

$font-family-monospace: $base-font;
$font-family-sans-serif: $base-font;
$body-bg: #F4F4F4;
$font-size-base: 13px;
$blockquote-font-size: $font-size-base;
$line-height-base: 1.6;
