// Local & 3rd Party Includes
//
// -----------------------------------------------------------------------------
@import "_variables";
@import "animations";
@import "_vendor";
@import "_mixins";
@import "components";

html {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
}
